@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: #444;
    background-color: #eee;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
    }
}

nav a {
    position: relative;
}

nav a::after {
    content: '';
	display: block;
	position: absolute;
	bottom: -0.3125rem;
	width: 0%;
	background-color: #888;
	height: .125rem;
	transition: width 400ms;
}

nav a:hover::after {
    width: 100%;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1075px;
    margin: 0 auto;
    padding: 15px;
}

form {
    /* display: flex;
    flex-direction: column; */
}

input,
select{
    border: 1px solid #aaa;
    transition: 0.3s;
}

input[type="submit"] {
    padding: 10px 20px;
    cursor: pointer;
}

input:hover,
select:hover {
    border: 1px solid #000;
}

form > * {
    display: block;
    padding: 5px;
    margin-bottom: 15px;
}

.red-border {
    border: 1px solid red;
}

.copyright {
    text-align: center;
}