@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: #444;
    background-color: #eee;
}

h1 {
    transition: transform 0.3s;
}

h1:hover {
    transform: translateY(-7px);
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
    }
}

nav a {
    position: relative;
}

nav a::after {
    content: '';
	display: block;
	position: absolute;
	bottom: -0.3125rem;
	width: 0%;
	background-color: #888;
	height: .125rem;
	transition: width 400ms;
}

nav a:hover::after {
    width: 100%;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1075px;
    margin: 0 auto;
    padding: 15px;
}

input,
select{
    border: 1px solid #aaa;
    transition: 0.3s;
}

input[type="submit"] {
    padding: 10px 20px;
    cursor: pointer;
}

input:disabled {
    cursor: wait;
}

input:hover,
select:hover {
    border: 1px solid #000;
}

form > * {
    display: block;
    padding: 5px;
    margin-bottom: 15px;
}

.red-border {
    border: 1px solid red;
}

.copyright {
    text-align: center;
}

.error {
    color: #ff0000;
}

.link {
    color: #006280;
}

.link:hover {
    text-decoration: underline;
}

table {
    width: 100%;
}

table, td, th {
  border: 1px solid #444;
}

th {
    background-color: #fff;
}

tbody > tr {
    transition: 0.3s;
}

tbody > tr:hover {
    background-color: #444;
    color: #eee;
}

td, th {
    padding: 10px;
}

table {
  border-collapse: collapse;
}

#loaded-images img {
    max-height: 400px;
}

#loaded-images {
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
}

.images-table {
    overflow: auto;
}

.image-link-container {
    margin-right: 15px;
    overflow: hidden;
    transition: 0.3s;
    flex-shrink: 0;
}

.image-link-container img {
    transition: 0.3s;
}

.image-link-container:hover img {
    opacity: 0.7;
    transform: scale(1.3);
}

.image-details-container img {
    max-height: 600px;
    max-width: 100%;
}