{% include head.html %}
{% include header.html %}
    <div class="container">
        <h2>Images</h2>
        <form id="add-image-form" method="POST" action="/image/add" enctype="multipart/form-data">
            <select class="collection" id="collection" name="selected-collection">
                <option value="" selected disabled hidden>Choose collection</option>
                {% for c in collections %}
                <option value="{{ c.collection_id }}">{{ c.name }}</option>
                {% end for %}
            </select>
            Selected: <span id="selected-collection"></span>

            <label for="fimg">Slika: </label>
            <input type="file" name="fimg" id="fimg" accept="image/*">

            <input type="submit" value="Upload">
        </form>

        <hr />
        <h2>Create new collection</h2>
        <form id="add-collection-form" method="POST" action="/collection/add" enctype="multipart/form-data">
            <label for="collection-name">Name: </label>
            <input type="text" name="collection-name" id="collection-name">

            <input type="submit" value="Create">
        </form>
    </div>
{% include footer.html %}