{% include head.html %}
{% include header.html %}
    <div class="container">
        <h2>Login</h2>
        <form id="login-form" method="POST" action="/login" enctype="multipart/form-data">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" minlength="3"
                   pattern="^(?=[a-zA-Z0-9._]{3,45}$)(?!.*[_.]{2})[^_.].*[^_.]$" required>

            <label for="password">Password: </label>
            <input type="password" name="password" id="password" minlength="8" required>

            <input type="submit" value="Log In">
            <span class="error"></span>
        </form>
    </div>
{% include footer.html %}