{% include head.html %}
{% include header.html %}
    <div class="container">
        <h2>Signup</h2>
        <form id="signup-form" method="POST" action="/signup" enctype="multipart/form-data">
            <label for="email">Email: </label>
            <input type="text" name="email" id="email"
                   pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>

            <label for="username">Username: </label>
            <input type="text" name="username" id="username" minlength="3"
                   pattern="^(?=[a-zA-Z0-9._]{3,45}$)(?!.*[_.]{2})[^_.].*[^_.]$" required>

            <label for="password">Password: </label>
            <input type="password" name="password" id="password" minlength="8" required>

            <label for="repeat-password">Repeat Password: </label>
            <input type="password" name="repeat-password" id="repeat-password" required>

            <input type="submit" value="Sign Up">
            <span class="error"></span>
        </form>
        <p>Already signed up? <a class="link" href="/login">Log in</a>.</p>
    </div>
{% include footer.html %}